<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/signup.css">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form action="/signup" method="post">
            <h2>Create Account</h2>
        
        <div class="inputBox">
            <input type="text" name="name" required="required"><span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="email" name="email" required="required"><span>Email</span>
            <i></i>
        </div>

        <div class="inputBox">
            <input type="password" name="password" required="required"><span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href=""> </a>
            <a href="/">Sign In</a>
        </div>
        <input type="submit" value="Create">
        </form>
        
    </div>
    


    <!-- <a href="/signup"> Make a new Account</a> -->
</body>
</html>
